.bg-14{
    background-color: #f08061 ;
    border-radius: 25px;
}
.bg-23{
    background-color: #ef82b6;
    border-radius: 25px;
}

.bg-my{
    background-color: #f18295;
}

.bg-img{
    background-image: url("C:\Users\preet\OneDrive\Desktop\lets_endorse\Team-78\client\src\images\background.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
}

